body {
	padding: 0;
	margin: 0;
	width:100%;
	height:100%;
	min-width:630px;
	font-family: Helvetica,Tahoma,Arial;
	overflow-x:hidden;
}
a {
	text-decoration:none;
	color: #39F;
}
.folder_link {
	font-size:25px;
	color:#111;
	font-weight:bold;
}
nav {
	padding-left:70px;
	background:#eaeaea;
	width:400px;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	overflow-y: scroll;
	overflow-x: auto;
	z-index:2;
}
nav section:nth-child(2) {
    margin-top:50px;
}
nav a{
    white-space:nowrap;
    display:block;
    width:100%;
    padding:5px;
}
nav a:hover {
    background:#ddd;
}
article {
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	padding-left:480px;
}
article textarea{
	width:100%;
	height:100%;
}
aside {
	position:fixed;
	top:0;
	left:0;
	width:70px;
	height:100%;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(243,243,243,1)), color-stop(2%,rgba(242,242,242,1)), color-stop(46%,rgba(242,242,242,1)), color-stop(72%,rgba(243,243,243,1)), color-stop(92%,rgba(242,242,242,1)), color-stop(100%,rgba(235,235,235,1)));
	z-index:3;
	border-right-width:1px;
	border-right-color:#ddd;
	border-right-style: solid;
	box-shadow: 0 0 40px #cecece;
}
aside button {
	color: #777;
	display: block;
	width: 70px;
	height: 70px;
	background: none;
	border: none;
	font-size: 60px;
}
#logo {
	font-size:50px;
	text-shadow: 0px -1px 2px #bbb,0 1px 2px #fff;
	z-index:1;
	text-transform:capitalize;
	width:190px;
	height:0px;
	position:absolute;
	left:-40px;
	-webkit-transform:rotate(-90deg);
	opacity:.4;
}
#logo a{
	color:#777;
}
#intro {
	color: #777;
	width:210px;
	font-size:15px;
	text-align:left;
	cursor:default;
	text-shadow:0 1px 0 white,0px 5px 4px #CCC;
}



::-webkit-scrollbar {
  width: 5px;
  height:5px;
}
 
::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}
