body {
	padding: 0;
	margin: 0 auto;
	background:#efefef;
	width:80%;
	max-width:800px;
	}
#paper {
	position:relative;
	top:10px;
	margin-bottom:60px;
	background:#fefefe;
	padding:25px;
	border-radius:5px;
	box-shadow: 0px 0px 20px #ccc;
	z-index:2;
}
#attach_paper {
	position:relative;
	top:-50px;
	margin:0 60px;
	background:-webkit-gradient(linEar, 100% 100%, 95% 90%,color-stop(.5,#EEA),from(#EED), to(#FffFbc));
	padding:20px;
	border-radius:0 0 20px 5px;
	box-shadow: 0px 0px 10px #aaa;
	z-index:1;
	font-family: 'Open Sans', sans-serif;
}
#ckepop{
position:relative;
top:-10px;
right:18px;
}

.dsq-trackback-url {
	color:rgba(123,123,123,0.5);
	font-size:10px;
}
.dsq-trackback-url input{
	color:rgba(123,123,123,0.5);
	font-size:10px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	width:100%;
	position:relative;
	right:5px;
}
#dsq-pagination,#dsq-sort-by,#dsq-content-stub,.dsq-trackback-url,#attach_paper h3 {display:none;}
#attach_paper input{background:rgba(255, 255, 255, .5);}
#context {
	margin:0 auto;
	white-space: normal;
	text-align:left;
	text-indent: 1cm;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	line-height:20px;
	color:#222;
	text-align:justify;
	text-justify:inter-ideograph;
	cursor:default;
}
nav{
	position:absolute;
	top:-38px;
	margin-left:3px;
}
.button {
	position:float;
	float:left;
	margin-right:10px;
	background:#fafafa;
	padding: 12px 12px 7px 12px;
	border-radius:3px 3px 0 0;
	box-shadow:0 -5px 5px #ccc;
	-webkit-transition-duration: .3s;
	transition-timing-function:ease-out;
	height:20px;
	color: #777;
	font-family:Arial;
	cursor:pointer;
}
.button:hover {
	box-shadow:0 -7px 14px #dedede;
	background:#eee;
	height:80px;
	border-radius:3px 3px 20px 0px;
}
#title{
	font-family: 'Open Sans', sans-serif;
	font-size:60px;
	text-shadow: 0px -4px #eaeaea,0 4px #eaeaea,-4px 0 #eaeaea, 4px 0 #eaeaea;
	width:100%;
	margin:0 auto;
	margin-top:50px;
	text-align:right;
	font-weight: bold;
	text-transform:capitalize;
	position:relative;
	right:20px;
}
#title a {
	-webkit-transition-property: text-shadow color;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: ease-in-out;
}
#title a:link {text-decoration:none;color:#777;}
#title a:visited {text-decoration:none;color:#777;}
#title a:hover{
	text-decoration:none;
	color:#aaa;
	text-shadow: 0px -20px #e3e3e3,0 20px #e3e3e3,-70px 0 #e3e3e3, 70px 0 #e3e3e3;
}
#context blockquote {
	background:#FEFF9C;
	padding: 0px 30px;
}
a {
	text-decoration: none;
	color: #39F;
}
#context code {
display:block;
margin-left:20px;
}
#context p code {
display:inline;
margin-left:0px;
}
#context p { margin-top:35px; }
#context ul {
list-style-type: circle;
color:#333;
margin-left:40px;
}
#context ol {
color:#333;
margin-left:40px;
}
#context li {
color:#165151;
}
 hr {
border:none;
border-top: dashed 1px grey;
}
#context h1,#context h2,#context h3,#context h4,#context h5,#context h6 {
color:#444;
text-shadow:0 0 10px #777;
}