body {
	padding: 0;
	margin: 0;
	width:100%;
	font-family: 'Muli', sans-serif, "微软雅黑";
	overflow-x:hidden;
}
a {
	text-decoration:none;
	color: #39F;
}
.item {
	margin-left:251px;
	/*list-style-type: none;*/
}
/*Navigator Part START*/
#nav_holder {
	position:relative;
	width:180px;
	padding:0 10px;
	margin:20px 0;
	height:100%;
	background:#e1e1e1;
	border-radius:10px;
	box-shadow:inset 0 1px 4px #aaa;
	overflow-y:hidden;
	opacity: 0.75;
}
.nav_button {
	position:relative;
	top:1px;
	display:inline;
	padding:0 15px;
	-webkit-transition-duration: .3s;
	text-shadow:0px 1px 0 #fff,0px -1px 0 #000;
	color:#777;
}
.nav_button:hover {
	background:#bbb;
	box-shadow:inset 0 0px 5px #777;
}
/*Navigator Part END*/
.date {
	color: #777;
	padding-top: 20px;
	pointer-events:none;
}
.date.year {
	font-size:20px;
	padding-top: 30px;
	color:#555;
}
.item .name{
}
.item .day {
	color:grey;
	font-family:impact;
	font-size:18px;
}
.item .effect{
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: ease-out;
	position:relative;
	min-height:50px;
	overflow:hidden;
	top:20px;
	text-shadow:0px 3px 3px #ddd;
	cursor:pointer;
	font-size:20px;
	text-transform: capitalize;
	width:100%;
	display:block;
}
.item .effect:hover{
	padding: 10px 0;
	font-size:40px;
}
.item .prefix {
	color:#aaa;
	font-size:14px;
}
#left_texts{
	position:float;
	float:left;
	width:198px;
}
.hr{
	height:1px;
	background:-webkit-gradient(linear,0 0,100% 0,from(#ddd), to(#fff));
	width:100%;
	position:relative;
	top:4px;
	right:11px;
}

.mtime{
	display:inline;
	float:right;
	color:rgba(255,255,255,0);
	z-index:-2;
	position:relative;
	bottom: 16px;
	right:20px;
	font-size: 20px;
	height:23px;
	overflow:hidden;
	text-shadow:0 0 3px #DDD;
}

#web_background{
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(233,233,206,1)));
	width:100%;
	position:fixed;
	top:0;
	left:0;
	height:100%;
	opacity:.1;
	z-index:-3;
}

#left{
	position:fixed;
	top:0;
	left:0;
	width:220px;
	height:100%;
	padding-left:20px;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(247,247,247,1)), color-stop(2%,rgba(246,246,246,1)), color-stop(46%,rgba(246,246,246,1)), color-stop(72%,rgba(247,247,247,1)), color-stop(92%,rgba(246,246,246,1)), color-stop(100%,rgba(239,239,239,1)));
	z-index:3;
	border-right-width:1px;
	border-right-color:#ddd;
	border-right-style: solid;
	box-shadow: 0 0 40px #cecece;
}
#logo {
	position:float;
	float:top;
	margin-top:80px;
	margin-bottom:40px;
	font-size:50px;
	text-shadow: 0px -1px 2px #bbb,0 1px 2px #fff;
	z-index:1;
	text-transform:capitalize;
	width:178px;
}
#logo a{
	-webkit-transition-property: text-shadow;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: ease-out;
	color:#777;
}
#logo a:hover{
	text-shadow: 0px -20px 4px rgba(100,100,100,.5),0 20px 4px rgba(255,255,255,.5);
}
#intro {
	color: #8a8a8a;
	width:210px;
	font-size:15px;
	text-align:left;
	cursor:default;
	text-shadow:0 1px 0 white,0px 5px 4px #CCC;
}
#main{
	position:absolute;
	top:20px;
	width:100%;
}