html{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,232,1)), color-stop(100%,rgba(214,219,191,1)));
	box-shadow:0 0 200px rgba(0,0,0,0.6) inset;
	min-height:100%;
}

*{
	margin:0;
	padding:0;
}

body{
	min-height: 600px;
    padding: 200px 0 0;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}

/*----------------------------
	Styling the forms
-----------------------------*/


#formContainer{
	width:288px;
	height:321px;
	margin:0 auto;
	position:relative;
	z-index:1;
	
	-moz-perspective: 800px;
	-webkit-perspective: 800px;
	perspective: 800px;
}

#formContainer form{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	
	/* Enabling 3d space for the transforms */
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	/* When the forms are flipped, they will be hidden */
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	/* Enabling a smooth animated transition */
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
	
	/* Configure a keyframe animation for Firefox */
	-moz-animation: pulse 2s infinite;
	
	/* Configure it for Chrome and Safari */
	-webkit-animation: pulse 2s infinite;
	border-radius: 5px;
}


/* Firefox Keyframe Animation */
@-moz-keyframes pulse{
	0%{		box-shadow:0 0 1px #008aff;}
	50%{	box-shadow:0 0 8px #008aff;}
	100%{	box-shadow:0 0 1px #008aff;}
}

/* Webkit keyframe animation */
@-webkit-keyframes pulse{
	0%{		box-shadow:0 0 1px #008aff;}
	50%{	box-shadow:0 0 10px #008aff;}
	100%{	box-shadow:0 0 1px #008aff;}
}

#back{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,.5)));
	z-index:100;
}

#auth{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(190,60,46,1)), color-stop(100%,rgba(141,37,37,1)));
	z-index:1;
	opacity:0;
	
	/* Rotating the recover password form by default */
	-moz-transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}

#formContainer.flipped #back{
	
	opacity:0;
	
	/**
	 * Rotating the login form when the
	 * flipped class is added to the container
	 */
	
	-moz-transform:rotateY(-180deg);
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}

#formContainer.flipped #auth{
	
	opacity:1;
	
	/* Rotating the recover div into view */
	-moz-transform:rotateY(0deg);
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}


/*----------------------------
	Inputs, Buttons & Links
-----------------------------*/


#back .flipLink,
#auth .flipLink{
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 65px;
	cursor:default;
}

#auth .flipLink{
	right:auto;
	left:0;
}

input[type=text],input[type=password]{
	/* The text fields */
	font: 15px 'Segoe UI',Arial,sans-serif;
	border: none;
	background: rgba(0,0,0,.5);
	height: 36px;
	left: 34px;
	position: absolute;
	width: 200px;
	text-indent: 8px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	color: #eee;
	outline-color: #700;
	border-radius: 3px;
	outline-width: 1px;
	padding: 0 10px;
}

#backPass{
	top: 215px;
}

#authEmail{
	top:215px;
}

input[type=submit]:hover{
	opacity:1;
}

input::-webkit-input-placeholder {
    color:#eee;
}

.warning {
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-family: tahoma;
    font-size: 60px;
    color: #000;
    opacity: .35;
	pointer-events:none;
}
a.redButton{
	display: inline-block;
	position:relative;
	width:50px;
	height: 50px;
	background-color:#c00;
	padding:15px;
	line-height:50px;
	text-align:center;
	text-decoration: none !important;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	margin:0;
	transition:0.15s ease-in;
	-moz-transition:0.15s ease-in;
	-webkit-transition:0.15s ease-in;
	box-shadow:0 5px 0 darkred,0 0 10px rgba(0,0,0,0.3) inset, 8px 10px 4px rgba(0,0,0,0.4);
	border-radius:50%;

}
a.redButton:active{
	bottom:-5px;
	box-shadow:0 0 0 darkred,0 0 20px rgba(0,0,0,0.5) inset;
}
#buttonContainer{
	text-align: center;
}