body {
	padding: 0;
	margin: 0 auto;
	}
#attach_paper,nav,#dsq-pagination{display:none;}
#context {
	margin:0 auto;
	white-space: normal;
	text-align:left;
	text-indent: 1cm;
	font-family: Tahoma;
	font-size:16px;
	line-height:20px;
	color:#222;
	word-wrap:break-word;
	word-break:break-all;
	cursor:default;
}
#title{
	font-family: Tahoma;
	font-size:30px;
	width:100%;
	margin:0 auto;
	margin-top:50px;
	text-align:right;
	font-weight: bold;
	text-transform:capitalize;
	position:relative;
	right:20px;
}

#context blockquote {
	background:#FEFF9C;
	padding: 0px 30px;
}
a {
	text-decoration: none;
	color: #39F;
}
#context code {
display:block;
background:#eee;
margin-left:20px;
}
#context p code {
display:inline;
margin-left:0px;
}
#context p { margin-top:35px; }
#context ul {
list-style-type: circle;
color:#333;
margin-left:40px;
}
#context ol {
color:#333;
margin-left:40px;
}
#context li {
color:#165151;
}
hr {
border:none;
border-top: dashed 1px grey;
}
#context h1,#context h2,#context h3,#context h4,#context h5,#context h6 {
color:#444;
}